<h2>Echo Cancellation</h2>
<!-- prettier-ignore -->
<cco-prism language="javascript" ngPreserveWhitespaces><!-- htmlmin:ignore -->navigator.mediaDevices.getUserMedia(&lbrace;
    audio: &lbrace;
        echoCancellation: true
    &rbrace;
&rbrace;);<!-- htmlmin:ignore --></cco-prism>
<a class="footnote" href="https://w3c.github.io/mediacapture-main/#dfn-echocancellation"
    >w3c.github.io/mediacapture-main/#dfn-echocancellation</a
>
<a class="footnote" href="https://github.com/w3c/mediacapture-extensions/issues/31">github.com/w3c/mediacapture-extensions/issues/31</a>
