<h2>Video Feedback</h2>
<div class="stage">
    <svg class="stage-prop" version="1.1" viewBox="0 0 900 340">
        <path d="M 40 300 h 400 l 40 40 h -480 z" fill="#999"></path>
        <path d="M 42 22 c 0 -10 10 -20 20 -20 h 356 c 10 0 20 10 20 20 v 276 h -396 z" fill="#000" stroke-width="4" stroke="#999"></path>
        <rect fill="#FFF" height="260" width="360" x="60" y="20"></rect>
        <rect fill="#000" height="224" width="324" x="78" y="38"></rect>
        <path d="M 80 60 l 20 -20 h 60 l 20 20 l 20 -20 h 60 l 20 20 h 120 v 200 h -320 z" fill="#999"></path>
        <rect fill="#FFF" height="175" width="310" x="85" y="80"></rect>
        <path d="M 120 255 a 60 60 0 0 1 120 0" fill="#999" stroke="#999" stroke-width="4"></path>
        <circle cx="180" cy="160" fill="#999" r="40" />

        <g transform="scale(0.5) translate(392, 84)">
            <rect fill="#FFF" height="175" stroke="#eb3f0f" stroke-width="8" width="310" x="85" y="80"></rect>
            <path d="M 120 251 a 60 60 0 0 1 120 0" fill="#999" stroke="#999" stroke-width="4"></path>
            <circle cx="180" cy="160" fill="#999" r="40" />
        </g>

        <g transform="scale(0.25) translate(1176, 252)">
            <rect fill="#FFF" height="175" stroke="#eb3f0f" stroke-width="16" width="310" x="85" y="80"></rect>
            <path d="M 120 247 a 60 60 0 0 1 120 0" fill="#999" stroke="#999" stroke-width="4"></path>
            <circle cx="180" cy="160" fill="#999" r="40" />
        </g>

        <g transform="scale(0.125) translate(2744, 588)">
            <rect fill="#FFF" height="175" stroke="#eb3f0f" stroke-width="32" width="310" x="85" y="80"></rect>
            <path d="M 120 239 a 60 60 0 0 1 120 0" fill="#999" stroke="#999" stroke-width="4"></path>
            <circle cx="180" cy="160" fill="#999" r="40" />
        </g>

        <path d="M 560 320 a 130 130 0 0 1 260 0" fill="#fff" stroke="#fff" stroke-width="4"></path>
        <circle cx="690" cy="120" fill="#fff" stroke="none" r="80" />
        <rect fill="#FFF" height="20" stroke="#fff" stroke-width="4" width="260" x="560" y="320"></rect>
    </svg>
</div>
